/* Add your custom styles here */
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

nav {
    background-color: white;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.hero-section {
    background-color: white;

}

.about-us-section,
.projects-section,
.get-involved-section,
.contact-us-section {
    padding: 80px 0;
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 5px;
}

nav {
    border-bottom: 2px solid black;
}


#logo {
    width: 25%;
    height: 25%;
    margin-left: 40px;
    margin-top: 10px;

}

#links {
    color: #000;
    text-align: center;
    font-family: Cabin;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 12px;
    margin: 10px;
}

h1 {
    font-family: Cabin;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: Cabin;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin: 0;
    padding: 0;
}

forms {
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin: 0;
    padding: 0;
}

p {
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin: 0;
    padding: 0;
}

section div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 50px;
    border-color: black;
    border-radius: 25%;
    border-width: 2px;
}